* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100svw;
}

.icon-wrapper {
  display: flex;
  padding: 1rem;
}

.element-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}

.element-select {
  background-repeat: no-repeat;
  width: 10svw;
  aspect-ratio: 1;
  filter: saturate(0.8);
  --bgcolour: black;
}
.element-select:hover, .element-select.active {
  filter: saturate(2);
  cursor: pointer;
  filter: drop-shadow(10px 10px 4px var(--bgcolour));
}


.element-panel:has(.element-select:hover) .element-select:not(:hover) {
  filter: grayscale(100%);
}

.icon-select {
  width: 20svw;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 15;
  position: relative;
  filter: saturate(0.8)
}

.icon-select:hover, .icon-container.active:not(:hover){
    cursor: pointer;
    filter: saturate(2);
}



  .icon-panel:has(.icon-select:hover) .icon-container:not(:hover) {
    filter: grayscale(100%);
  }

.icon-container{
    position: relative;
    --bgcolour: white;
}

.icon-container::after {
    position: absolute;
    content: " ";
    inset: 0;
    opacity: 0;
    z-index: 13;
    border-radius: 50%;
    width: 100%;
    transition: opacity 1s ease;
    background-image: conic-gradient(from 45deg, var(--bgcolour), white, var(--bgcolour));
  }
  
  .icon-container::before {
    position: absolute;
    content: " ";
    inset: 0;
    opacity: 0;
    z-index: 13;
    border-radius: 50%;
    width: 100%;
    background-image: conic-gradient(from 135deg, var(--bgcolour), white, var(--bgcolour));
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .icon-container:hover::after , .icon-container.active::after{
    opacity: 1;
    filter: drop-shadow(10px 10px 4px var(--bgcolour));
  }

  .name-wrapper{
    display: flex;
    flex-direction: column;
  }
  .name-panel{
    padding: 1rem;
  }

  .change-name {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    
  }

  .change-name * {
    padding: 10px;
  }

.user-name{
    font-size: large;
    flex: 1;
}